
--psm 7
--oem 3
-c tessedit_char_whitelist=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
-c preserve_interword_spaces=0
-c language_model_penalty_non_dict_word=0.5
-c language_model_penalty_non_freq_dict_word=0.5
-c language_model_ngram_order=4
-c edges_max_children_per_outline=40
-c edges_children_count_limit=200
-c edges_children_per_grandchild=10
-c tosp_threshold_bias2=5
-c classify_class_pruner_threshold=200
-c classify_integer_matcher_multiplier=5
-c textord_skew_ile=0.5
-c textord_max_blob_overlaps=10
-c textord_noise_area_ratio=0.7
